
.jumbotron{
    background-color: #46c28e;
    background-size: 1000px;
    height: 600px;
    box-shadow: 5px 2px #888888;
}

.pageHeaderh1 {
    color: white;
    position: absolute;
    right: 40%;
    font-family: 'Assistant', sans-serif;
    font-size: 100px;
}
.pageHeaderp {
    color: white;
    position: absolute;
    top: 27%;
    right: 40%;
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
}

.mat-divider {
    width: 25%;
    right: 50%;
}

.page-header {
    position: relative;
    padding-top: 3px;
    text-align: center;
}

img {
    width: 50px;
}
 


 
