<mat-accordion class="curriculum-container">
  <mat-expansion-panel class="course-curriculum">
    <mat-expansion-panel-header>
      <mat-panel-title>
        מודול ראשון
      </mat-panel-title>
      <mat-panel-description>
        מה הולכים ללמד במודול הזה?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>ה הגוף של התיאור</p>
  </mat-expansion-panel>
  <mat-expansion-panel class="course-curriculum">
    <mat-expansion-panel-header>
      <mat-panel-title>
        מודול שני
      </mat-panel-title>
      <mat-panel-description>
        מה הולכים ללמד במודול הזה?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>ה הגוף של התיאור</p>
  </mat-expansion-panel>
  <mat-expansion-panel class="course-curriculum">
    <mat-expansion-panel-header>
      <mat-panel-title>
        מודול שלישי
      </mat-panel-title>
      <mat-panel-description>
        מה הולכים ללמד במודול הזה?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>ה הגוף של התיאור</p>
  </mat-expansion-panel>
</mat-accordion>