<div class="jumbotron">
  <div class="container">
    <h1 class="pageHeaderh1">קורס כתיבה</h1>
    <p class="pageHeaderp">טל מילר</p>
  </div>
</div>

<mat-card class="spec-card">
  <mat-card-title class="center-aligned card-title">מה אני אלמד?</mat-card-title>
  <mat-card-content class= "hebrew-text">
    <ul>
      <li>איך להתחיל לכתוב</li>
      <li>איך כותבים סדרה</li>
      <li>מה הכלים של כותבים מקצועיים</li>
      <li>איך לפרסם</li>
      <li>איך למשוך את הקוראים לאורך הסיפור</li>
      <li>איך הופכים לחתיכים כמו מילר</li>
    </ul>
  </mat-card-content>
</mat-card>

<h2>
  תיאור הקורס
</h2>
<p>
  אם אחר בשפה המלחמה עקרונות.
  עזה את לציין אחרים לאחרונה, בקר גם תיבת וספציפיים. אחר של החברה לעריכת ויקיפדיה, את עמוד כניסה
  בכפוף שער, מתן יידיש פסיכולוגיה ב.
  כדי יסוד טכניים שיתופית של. בה רבה רוסית אווירונאוטיקה. גם עוד בעברית וכמקובל בויקיפדיה,
  בה עוד תוכל ספינות אנציקלופדה.
</p>

<h2>
  תכנית הקורס
</h2>

<mat-accordion class="curriculum-container">
  <mat-expansion-panel class="course-curriculum">
    <mat-expansion-panel-header>
      <mat-panel-title>
        מודול ראשון
      </mat-panel-title>
      <mat-panel-description>
        מה הולכים ללמד במודול הזה?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>ה הגוף של התיאור</p>
  </mat-expansion-panel>
  <mat-expansion-panel class="course-curriculum">
    <mat-expansion-panel-header>
      <mat-panel-title>
        מודול שני
      </mat-panel-title>
      <mat-panel-description>
        מה הולכים ללמד במודול הזה?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>ה הגוף של התיאור</p>
  </mat-expansion-panel>
  <mat-expansion-panel class="course-curriculum">
    <mat-expansion-panel-header>
      <mat-panel-title>
        מודול שלישי
      </mat-panel-title>
      <mat-panel-description>
        מה הולכים ללמד במודול הזה?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>ה הגוף של התיאור</p>
  </mat-expansion-panel>
</mat-accordion>

<mat-divider class="divider"></mat-divider>

<h2>על המרצה</h2>
    <mat-card class="teacher-about-card">
        <mat-card-title-group>
            <mat-card-title>טל מילר</mat-card-title>
            <img mat-card-sm-image class="about-teacher-image" src="https://scontent.ftlv6-1.fna.fbcdn.net/v/t31.0-8/23467425_1904747542899302_4559786760995436288_o.jpg?oh=194491b48281abf47d83137c79221a15&oe=5B010971" alt="תמונה של טל מילר">
        </mat-card-title-group>
      <mat-card-content class="hebrew-text">
        עשה כל מיני דברים
      </mat-card-content>
    </mat-card>
