

.container {
    padding-top: 40px;
}

.sidebar {
    position: fixed;
    background-color: grey;
    right: 0px;
    height: 100%;
    text-align: right;
}

li {
    font-size: 18px;
    padding:12px;
}

.nav-title {
    font-size:24px;
    font-style: bold;
}

.row {
    position: relative;
}

.main-row {
    position: relative;
    width: 100%;
}