<!--step 1 of how it works -->
<div class="container center">
    <div class="row">
      <div class="col-sm-4">
        <div class="jumbotron jumbotron-fluid">
          <div class="container step-text">
            <h1 class="display-4">איך זה עובד צעד 1</h1>
            <p class="lead">פירוט על איך זה עובד קצת</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <img src="../../assets/freelance-icon.svg">
      </div>
    </div>
  </div>
<!--step 2 of how it works -->
  <div class="container center">
      <div class="row">
        <div class="col-sm-8">
          <img src="https://dummyimage.com/700x400/000/fff">
        </div>
        <div class="col-sm">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">איך זה עובד צעד 2</h1>
              <p class="lead">פירוט על איך זה עובד קצת</p>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--step 3 of how it works -->
    <div class="container center">
        <div class="row">
          <div class="col-sm-4">
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h1 class="display-4">איך זה עובד צעד 3</h1>
                <p class="lead">פירוט על איך זה עובד קצת</p>
              </div>
            </div>  
          </div>
          <div class="col-sm">
            <img src="https://dummyimage.com/700x400/000/fff">
          </div>
        </div>
      </div>