<h1>הירשמ\י</h1>

<mat-card class="login-card">
  <form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="form-group">
      <label for="firstName">שם פרטי</label>
      <input required ngModel name="firstName" #firstName="ngModel" id="firstName" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">אנא מלא\י שם פרטי</div>
    </div>
    <div class="form-group">
      <label for="lastName">שם משפחה</label>
      <input required ngModel name="lastName" #lastName="ngModel" id="lastName" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">אנא מלא\י שם משפחה</div>
    </div>
    <div class="form-group">
      <label for="email">מייל</label>
      <input required email ngModel name="email" #email="ngModel" id="email" type="email" class="form-control">
      <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
        <div *ngIf="email.errors.required">שדה חובה</div>
        <div *ngIf="email.errors.email">אנא מלא\י כתובת מייל תקינה</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">סיסמא</label>
      <input  
        ngModel 
        name="password" 
        #password="ngModel" 
        id="password" 
        type="password" 
        class="form-control">
      </div>
    <button class="btn btn-primary" [disabled]="!f.valid">הירשם</button>
  </form>
  <button class="google-signup-button" (click)="loginWithGoogle()" class="btn btn-primary">הירשמ\י עם גוגל</button>
</mat-card>