<div class="container center">
    <div class="row" *ngFor="let course of courses">
      <div class="col-sm">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://picsum.photos/300" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">שם המרצה</h5>
                <p class="card-text">קצת מידע על הקורס וזה</p>
                <a href="#" class="btn btn-primary">רוצה לשמוע עוד</a>
              </div>
            </div>         
      </div>            
      <div class="col-sm">
          <div class="col-sm">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://picsum.photos/300" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">שם המרצה</h5>
                  <p class="card-text">קצת מידע על הקורס וזה</p>
                  <a href="#" class="btn btn-primary">רוצה לשמוע עוד</a>
              </div>
          </div>  
      </div>
  </div>
