<div class="container-fluid">
  <mat-card class="ask-question-card">
    <mat-card-content>
      <div class="row">
          <mat-card-title>זה המקום לדבר עם שאר הסטודנטים</mat-card-title>
          <button class="btn btn-primary question-asker">שאל\י שאלה</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="question-card">
    <div class="row">
        <mat-card-title>כותרת של שאלה</mat-card-title>
        <img mat-card-image class="forum-question-profile-image" src="http://i.pravatar.cc/50" alt="">
    </div>
    <mat-card-content class="content-first-sentance">,תוכן קצת של שאלה,תוכן קצת של שאלה,תוכן קצת של שאלה, תוכן קצת של שאלה</mat-card-content>
  </mat-card>
  <mat-card class="question-card">
    <div class="row">
        <mat-card-title>כותרת של שאלה</mat-card-title>
        <img mat-card-image class="forum-question-profile-image" src="http://i.pravatar.cc/50" alt="">
    </div>
    <mat-card-content class="content-first-sentance">,תוכן קצת של שאלה,תוכן קצת של שאלה,תוכן קצת של שאלה, תוכן קצת של שאלה</mat-card-content>
  </mat-card>
  <mat-card class="question-card">
    <div class="row">
        <mat-card-title>כותרת של שאלה</mat-card-title>
        <img mat-card-image class="forum-question-profile-image" src="http://i.pravatar.cc/50" alt="">
    </div>
    <mat-card-content class="content-first-sentance">,תוכן קצת של שאלה,תוכן קצת של שאלה,תוכן קצת של שאלה, תוכן קצת של שאלה</mat-card-content>
  </mat-card>
  <mat-card class="question-card">
    <div class="row">
        <mat-card-title>כותרת של שאלה</mat-card-title>
        <img mat-card-image class="forum-question-profile-image" src="http://i.pravatar.cc/50" alt="">
    </div>
    <mat-card-content class="content-first-sentance">,תוכן קצת של שאלה,תוכן קצת של שאלה,תוכן קצת של שאלה, תוכן קצת של שאלה</mat-card-content>
  </mat-card>

</div>



