
<p>resource component works!</p>

<div class="container-fluid resource-grid">
  <div class="row">
    <h1 class="text-center">חומרים נלווים לקורס</h1>
  </div>
    <div class="row">
        <div class="col-sm-4">
          <div class="card" style="width: 9rem;">
            <img class="card-img-top" src="http://fakeimg.pl/50/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">שם המרצה</h5>
              <p class="card-text">קצת מידע על הקורס וזה</p>
              <a href="#" class="btn btn-primary">רוצה לשמוע עוד</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 9rem;">
            <img class="card-img-top" src="http://fakeimg.pl/50/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">שם המרצה</h5>
              <p class="card-text">קצת מידע על הקורס וזה</p>
              <a href="#" class="btn btn-primary">רוצה לשמוע עוד</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 9rem;">
            <img class="card-img-top" src="http://fakeimg.pl/50/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">שם המרצה</h5>
              <p class="card-text">קצת מידע על הקורס וזה</p>
              <a href="#" class="btn btn-primary">רוצה לשמוע עוד</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 9rem;">
            <img class="card-img-top" src="http://fakeimg.pl/50/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">שם המרצה</h5>
              <p class="card-text">קצת מידע על הקורס וזה</p>
              <a href="#" class="btn btn-primary">רוצה לשמוע עוד</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 9rem;">
            <img class="card-img-top" src="http://fakeimg.pl/50/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">שם המרצה</h5>
              <p class="card-text">קצת מידע על הקורס וזה</p>
              <a href="#" class="btn btn-primary">רוצה לשמוע עוד</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card" style="width: 9rem;">
            <img class="card-img-top" src="http://fakeimg.pl/50/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">שם המרצה</h5>
              <p class="card-text">קצת מידע על הקורס וזה</p>
              <a href="#" class="btn btn-primary">רוצה לשמוע עוד</a>
            </div>
          </div>
        </div>
      </div>
</div>
