<mat-divider></mat-divider>
<h1 class="">מה אומרים עלינו?</h1>
<div class="media center">
  <img class="mr-3" src="https://dummyimage.com/100x100/000/fff" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0">הקורס הכי טוב שלקחתי אי פעם</h5>
    בתור אדם עסוק, אני לא חשבתי שאצליח לעמוד שעתיים בפקקים כדי להגיע לקורס פוטושופ באמצע תל אביב. הקורס בקורסה היה מדהים, הוא באמת הביא אותי מ-0 ל-100. וכל זה היה בזמן שלי ובתנאים שלי. המרצה היה מעולה וענה לכל השאלות שלי, פשוט אי מילים.
  </div>
</div>