

<p>watch component works!</p>

<div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
  <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
    <div class="wistia_embed wistia_async_2ih5lapf35 videoFoam=true" style="height:100%;position:relative;width:100%">
      <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
        <img src="https://fast.wistia.com/embed/medias/2ih5lapf35/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
          alt="" onload="this.parentNode.style.opacity=1;" />
      </div>
    </div>
  </div>
</div>

<br>


<br>
<h2 class="text-center">רשימת השיעורים</h2>

<mat-accordion class="curriculum-container">
  <mat-expansion-panel class="course-curriculum">
    <mat-expansion-panel-header>
      <mat-panel-title>
        מודול ראשון
      </mat-panel-title>
      <mat-panel-description>
        מה הולכים ללמד במודול הזה?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>ה הגוף של התיאור</p>
  </mat-expansion-panel>
  <mat-expansion-panel class="course-curriculum">
    <mat-expansion-panel-header>
      <mat-panel-title>
        מודול שני
      </mat-panel-title>
      <mat-panel-description>
        מה הולכים ללמד במודול הזה?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>ה הגוף של התיאור</p>
  </mat-expansion-panel>
  <mat-expansion-panel class="course-curriculum">
    <mat-expansion-panel-header>
      <mat-panel-title>
        מודול שלישי
      </mat-panel-title>
      <mat-panel-description>
        מה הולכים ללמד במודול הזה?
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>ה הגוף של התיאור</p>
  </mat-expansion-panel>
</mat-accordion>




<!-- <div class="container-fluid">
     <div class="row">
        <div class="col-sm-4">
          <mat-card>
            <mat-card-title class="hebrew-text text-center">רשימת השיעורים</mat-card-title>
            <mat-card-content class="hebrew-text">
                <mat-accordion class="curriculum-container">
                    <mat-expansion-panel class="course-curriculum">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          מודול ראשון
                        </mat-panel-title>
                        <mat-panel-description>
                          שיעור אחד
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>ה הגוף של התיאור</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="course-curriculum">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          מודול שני
                        </mat-panel-title>
                        <mat-panel-description>
                          מה הולכים ללמד במודול הזה?
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>ה הגוף של התיאור</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="course-curriculum">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          מודול שלישי
                        </mat-panel-title>
                        <mat-panel-description>
                          מה הולכים ללמד במודול הזה?
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>ה הגוף של התיאור</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="course-curriculum">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          מודול שלישי
                        </mat-panel-title>
                        <mat-panel-description>
                          מה הולכים ללמד במודול הזה?
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>ה הגוף של התיאור</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="course-curriculum">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          מודול שלישי
                        </mat-panel-title>
                        <mat-panel-description>
                          מה הולכים ללמד במודול הזה?
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>ה הגוף של התיאור</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="course-curriculum">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          מודול שלישי
                        </mat-panel-title>
                        <mat-panel-description>
                          מה הולכים ללמד במודול הזה?
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>ה הגוף של התיאור</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="course-curriculum">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          מודול שלישי
                        </mat-panel-title>
                        <mat-panel-description>
                          מה הולכים ללמד במודול הזה?
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>ה הגוף של התיאור</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="course-curriculum">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          מודול שלישי
                        </mat-panel-title>
                        <mat-panel-description>
                          מה הולכים ללמד במודול הזה?
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>ה הגוף של התיאור</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="course-curriculum">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          מודול שלישי
                        </mat-panel-title>
                        <mat-panel-description>
                          מה הולכים ללמד במודול הזה?
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>ה הגוף של התיאור</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="course-curriculum">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          מודול שלישי
                        </mat-panel-title>
                        <mat-panel-description>
                          מה הולכים ללמד במודול הזה?
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>ה הגוף של התיאור</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="course-curriculum">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          מודול שלישי
                        </mat-panel-title>
                        <mat-panel-description>
                          מה הולכים ללמד במודול הזה?
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>ה הגוף של התיאור</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="course-curriculum">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          מודול שלישי
                        </mat-panel-title>
                        <mat-panel-description>
                          מה הולכים ללמד במודול הזה?
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>ה הגוף של התיאור</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="course-curriculum">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          מודול שלישי
                        </mat-panel-title>
                        <mat-panel-description>
                          מה הולכים ללמד במודול הזה?
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p>ה הגוף של התיאור</p>
                    </mat-expansion-panel>
                  </mat-accordion>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-sm-8">
            <mat-card class="video-card">
                <mat-card-title class="center-aligned card-title text-center">שיעור 1: על מה הקורס הזה בכלל</mat-card-title>
                <mat-card-content class="hebrew-text">
                  <img src="https://dummyimage.com/600x400/000/fff" alt="the course video">
                </mat-card-content>
              </mat-card>
        </div>  -->

    <!-- <div class="overview-hero ">
      <mat-card>
        <div class="row">
          <div class="col-xs-6">
            <img class="hero-thumbnail" src="http://ironih.schooly.co.il/wp-content/uploads/2017/10/%D7%98%D7%9C-%D7%9E%D7%99%D7%9C%D7%A8.jpg"
              alt="טל מילר">
          </div>
          <div class="hero-text mr-auto">
            <mat-card-title>פתיחה</mat-card-title>
            <mat-card-content>
              <p>
                טקסט כלשהו שיסביר על הקורס ורשימת השיעורים שיש בלמטה
              </p>
            </mat-card-content>
          </div>
        </div>
      </mat-card>
    </div>
    </div> -->



