 .video-card {
    position: relative;
    width: 100%;
    font-family: 'Assistant', sans-serif;
}

.row {
    position: absolute;
    margin: 10% 10% 0% 0%; 
    width: 100%;
}

.col {
    position: relative;
    align-content: center;
    width: 100%;
}

img {
    position: relative;
    right:-6%;
}

.hebrew-text {
    font-family: "Assistant", sans-serif;
} 

/* .hero-thumbnail {
    width: 200px;
    border-radius: 0%;
}

.hero-text {
    text-align: center;
}

.mat-card {
    width: 150%;
    right: 30%;
    font-family: 'Assistant', sans-serif;
}

mat-card-content {
font-size: 16px;
}

mat-card-title {
    font-size: 40px;
    font-weight: 500;    
}

.board {
    position: relative;
}

.overview-hero {
    position: relative;

} */
