.video-card {
    position: relative;
    width: 100%;
    font-family: 'Assistant', sans-serif;
}

.row {
    position: absolute;
    margin: 10% 10% 0% 0%; 
    width: 100%;
}

.col {
    position: relative;
    align-content: center;
    width: 100%;
}

img {
    position: relative;
    right:-6%;
}

.hebrew-text {
    font-family: "Assistant", sans-serif;
}